header {
  height: 60px;
  margin-top:30px;
}
li {
  list-style: none;
}
.userName {
	color: #777;
}
a {
  text-decoration:none;
  color: #777;
}
a:hover {
  color: #3B82F6;
  font-weight: bold;
}
a:checked {
  color: #3B82F6;
  font-weight: bold;
}

#logo {
	float:left;
}

#search_box {
	float:left;
	margin-top:5px;
}

fieldset {
  	margin: 0 0 0 150px;
  	border:1.5px solid #d5dae1;
  	border-radius: 5px;
}
fieldset input {
	width:300px;
	padding:10px;
	border:none;
	
}

fieldset img {
	/* margin:-2px 0 0 5px; */
	margin: 5px 0 5px 10px;
}

.visually-hidden { /* legend 안보이게 설정. 이렇게하면 접근성을 준수하면서 디자인을 해치지 않습니다. */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
nav {
	float:right;
	margin: 15px 0 0 0;
}

nav ul li{
	height:15px;
	text-align:center;
	line-height:15px;
	float:left;
	margin-left:35px;
	font-size:15px;
	font-weight:bold;
}


nav ul li:nth-child(4) {
	font-weight:normal;
	font-size:13px;
	width:70px;
}
nav ul li:nth-child(5) {
	margin-left:0px;
	border-left:1px solid #888;
	width:60px;
	font-weight:normal;
	font-size:13px;
}






#gnb{
	margin-top:20px;
}
#gnb li {
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	float:left;
	margin-left:20px;
}

#gnb li:hover {
	border-bottom:2px solid #3B82F6;
}


#wrap {
	width: 100%;
}
#margin_wrap {
	width: 1200px;
	margin: 0 auto;
}


