@charset "UTF-8";

main {
	width:100%;
	min-height: 524px;
 	margin-top:30px;
 	text-align: center;
 	float: center;
}
.main-h1 {
	margin-bottom: 40px;
}
.input_area {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
}
.input {
	width: 100%;
	height: 56px;
	margin: 10px 0;
	padding-left: 25px;
	border: 1px solid #eee;
	box-sizing: border-box;
	font-size: 16px;
}
.input:hover {
    border: 1px solid #3B82F6;
}
.button_area {
	width: 100%;
	height: 56px;
	margin: 40px 0;
	background-color: #3B82F6;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border: none;
}
.button_area:active{
	background-color: #2565CC;
}
.join_sty{
	width : 70%;
	float:left;
}
.join_sty2{
	width : 30%;
	height: 56px;
	margin: 10px 0;
	background-color: #3B82F6;
	color: #fff;
	border: 1px solid #eee;
	box-sizing: border-box;
	font-size: 16px;
}
.join_sty2:active{
	background-color: #2565CC;
}
.logingo {
	/* margin-top: 20px; */
	font-size: 13px;
}
.logingo a {
	padding-bottom: 4px;
	border-bottom: 1px solid #333;
	color: #333;
}
.logingo a:hover {
	color: #3B82F6;
	border-bottom: 1px solid #3B82F6;
}


